Repository boostcamp-2020/Project04-A-Whale, pull requests merged in 2020-12, with the labels that each got.

#61 [iOS #60] detail List 생성 화면 레이아웃 구현
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Coordinator/BucketCoordinator.swift
  iOS/project04/project04/Coordinator/DetailAddCoordinator.swift
  iOS/project04/project04/Coordinator/MainTabBarController.swift
  iOS/project04/project04/Coordinator/NavigationCoordinator.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListAdd.storyboard
  iOS/project04/project04/Scene/DetailList/View/DetailListAddViewController.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
Labels: 📱 ios

#47 [SERVER #24] bucketList 조회, 수정 API 구현
  server/config/statusCode.js
  server/models/bucket.js
  server/models/detail.js
  server/routes/bucket/controller.js
  server/routes/bucket/index.js
  server/routes/index.js
  server/routes/user/index.js
  server/services/bucket.js
  server/services/db/bucket.js
Labels: ✨high, 🕹 server

#58 [SERVER # 17] 목표 검색 기능 구현
  server/models/detail.js
  server/routes/bucket/controller.js
  server/services/bucket.js
  server/services/db/bucket.js
Labels: ✨high, 🕹 server

#62 [SERVER #10 (FIX)] 목표 달성 API 구현2
  server/config/statusCode.js
  server/routes/achieve/controller.js
  server/routes/achieve/index.js
  server/routes/index.js
  server/services/achieve.js
  server/services/db/achieve.js
Labels: ✨high, 🔨 fix, 🕹 server

#48 [SIDEBAR #19] axios 통신 및 spinner 적용
  sidebar/package.json
  sidebar/src/App.js
  sidebar/src/components/UI/atoms/hover_button/index.js
  sidebar/src/components/UI/atoms/hover_button/style.js
  sidebar/src/components/UI/atoms/spinner/index.js
  sidebar/src/components/UI/atoms/spinner/style.js
  sidebar/src/components/UI/molecules/bucket_list_item/index.js
  sidebar/src/components/UI/molecules/confirm_dialog_buttons/index.js
  sidebar/src/components/UI/organisms/abandon_dialog/index.js
  sidebar/src/components/UI/organisms/bucket_list/index.js
  sidebar/src/components/UI/organisms/bucket_list/style.js
  sidebar/src/components/UI/organisms/confirm_dialog/index.js
  sidebar/src/components/UI/organisms/confirm_dialog/style.js
  sidebar/src/components/UI/organisms/line_bar_area_composed_chart/index.js
  sidebar/src/components/pages/MyBucketListPage.js
  sidebar/src/components/templates/my_bucket_list/index.js
  sidebar/src/index.js
  sidebar/src/lib/api.js
  sidebar/src/lib/createRequestThunk.js
  sidebar/src/modules/buckets.js
  sidebar/src/modules/index.js
  sidebar/src/modules/loading.js
Labels: ✨ frontend, ✨high, 🎨 style, 🗄 sidebar

#59 [WEB, SIDEBAR #17] 목표 검색 기능, 목표 생성 기능 API 구현
  sidebar/src/components/UI/atoms/styled_button/StyledButton.js
  sidebar/src/components/UI/molecules/bucket_create_button/BucketCreateButton.js
  sidebar/src/components/UI/molecules/detail_adder/DetailAdder.js
  sidebar/src/components/UI/molecules/search_result_item/searchResultItem.js
  sidebar/src/components/UI/organisms/bucket_search/bucketSearch.js
  sidebar/src/components/UI/organisms/detail_list/DetailList.js
  sidebar/src/components/templates/bucket_create_template/BucketCreateTemplate.js
  sidebar/src/lib/api.js
  sidebar/src/modules/actions/actionTypes.js
  sidebar/src/modules/actions/createbucket.js
  sidebar/src/modules/createbucket.js
Labels: ✨ frontend, ✨high, 🗄 sidebar

#63 [CLIENT, SIDEBAR #8 ] 목표달성화면 레이아웃작업
  package-lock.json
  sidebar/package-lock.json
  sidebar/src/components/UI/atoms/save_button/SaveButton.js
  sidebar/src/components/UI/molecules/tab_panel_list/TabPanelList.js
  sidebar/src/components/UI/molecules/write_text_picture/index.js
  sidebar/src/components/UI/organisms/label_content_tab/index.js
  sidebar/src/components/UI/organisms/line_bar_area_composed_chart/index.js
  sidebar/src/components/UI/organisms/menu_drawer/index.js
  sidebar/src/components/UI/organisms/writing_tab/index.js
  sidebar/src/components/pages/AchieveCreate.js
  sidebar/src/components/templates/achieve_create/index.js
  sidebar/src/components/templates/my_bucket_list/index.js
  sidebar/src/constants/path.js
  sidebar/src/lib/api.js
  sidebar/src/modules/achieve.js
  sidebar/yarn.lock
Labels: ✨ frontend, ✨high, 🗄 sidebar

#64 [iOS #5] BucketListViewModel 추상화
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/BucketList/ViewModel/BucketListViewModel.swift
Labels: 📱 ios, 🔍 refactor

#65 [SIDEBAR (FIX)] 오류 수정 및 파일명 변경
  package-lock.json
  sidebar/package.json
  sidebar/src/components/UI/atoms/input_text/index.js
  sidebar/src/components/UI/atoms/save_button/index.js
  sidebar/src/components/UI/atoms/span/index.js
  sidebar/src/components/UI/atoms/styled_button/index.js
  sidebar/src/components/UI/atoms/tab_panel/index.js
  sidebar/src/components/UI/molecules/bucket_create_button/index.js
  sidebar/src/components/UI/molecules/bucket_input_text/index.js
  sidebar/src/components/UI/molecules/bucket_search_bar/index.js
  sidebar/src/components/UI/molecules/detail_adder/index.js
  sidebar/src/components/UI/molecules/detail_list_item/index.js
  sidebar/src/components/UI/molecules/reset_button/index.js
  sidebar/src/components/UI/molecules/search_result_item/index.js
  sidebar/src/components/UI/molecules/tab_list/index.js
  sidebar/src/components/UI/molecules/tab_panel_list/index.js
  sidebar/src/components/UI/molecules/title/index.js
  sidebar/src/components/UI/organisms/bucket_contents/index.js
  sidebar/src/components/UI/organisms/bucket_search/index.js
  sidebar/src/components/UI/organisms/buttons/index.js
  sidebar/src/components/UI/organisms/detail_list/index.js
  sidebar/src/components/UI/organisms/label_content_tab/index.js
  sidebar/src/components/pages/BucketCreatePage.js
  sidebar/src/components/templates/bucket_create_template/index.js
  sidebar/src/components/templates/my_bucket_list/index.js
  sidebar/src/lib/api.js
  sidebar/yarn.lock
Labels: ✨ frontend, 🔍 refactor, 🔨 fix

#66 [iOS #3 (refactor)] coordinator 에서 viewContrlloer의 viewModel 의존성 주입
  iOS/project04/project04/App/Base.lproj/Main.storyboard
  iOS/project04/project04/Coordinator/BucketCoordinator.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/BucketList/ViewModel/BucketListViewModel.swift
Labels: 📱 ios, 🔍 refactor

#67 [iOS #60] Detail 추가 화면 레이아웃 및 로컬 추가 동작 구현
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/App/Base.lproj/Main.storyboard
  iOS/project04/project04/Coordinator/BucketCoordinator.swift
  iOS/project04/project04/Coordinator/DetailAddCoordinator.swift
  iOS/project04/project04/Info.plist
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailRepository.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListAdd.storyboard
  iOS/project04/project04/Scene/DetailList/View/DetailListAddViewController.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Scene/DetailList/ViewModel/DetailListViewModel.swift
  iOS/project04/project04/Util/Function/DefaultAlertViewController.swift
  iOS/project04/project04/Util/Function/extension+UIDatePicker.swift
  iOS/project04/project04/Util/View/RoundButton.swift
  iOS/project04/project04/Util/View/RoundView.swift
Labels: 📱 ios, 🔍 refactor

#69 [SERVER #68] 특정 팔로우 정보 CRD API 구현
  server/models/follow.js
  server/routes/achieve/controller.js
  server/routes/follow/controller.js
  server/routes/follow/index.js
  server/routes/index.js
  server/services/db/achieve.js
  server/services/db/follow.js
  server/services/follow.js
Labels: 🎇medium, 🕹 server

#70 [SIDEBAR #9] 목표 달성 화면 사진 첨부 기능 구현
  sidebar/package-lock.json
  sidebar/package.json
  sidebar/src/components/UI/molecules/write_text_picture/index.js
  sidebar/src/components/UI/molecules/write_text_picture/style.js
  sidebar/src/components/UI/organisms/line_bar_area_composed_chart/index.js
  sidebar/src/components/UI/organisms/writing_tab/index.js
  sidebar/src/components/pages/AchieveCreate.js
  sidebar/src/components/templates/achieve_create/index.js
  sidebar/src/index.js
  sidebar/src/modules/achieve.js
Labels: ✨ frontend, ✨high, 🗄 sidebar

#71 [iOS #52(REFACTOR)] 리뷰 반영, 목표 달성 화면(소감만) 레이아웃 구현
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/App/SceneDelegate.swift
  iOS/project04/project04/Coordinator/BucketCoordinator.swift
  iOS/project04/project04/Coordinator/MainTabBarController.swift
  iOS/project04/project04/Model/Detail.swift
  iOS/project04/project04/Model/RealmObject/RealmDetailList.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailLocalAgent.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListAddViewController.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Scene/DetailList/View/SectionHeaderView/DetailSectionHeaderView.swift
  iOS/project04/project04/Scene/DetailList/View/SectionHeaderView/DetailSectionHeaderView.xib
  iOS/project04/project04/Scene/DetailList/View/SectionHeaderView/DetailSectionImpressionHeaderView.swift
  iOS/project04/project04/Scene/DetailList/View/SectionHeaderView/DetailSectionImpressionHeaderView.xib
  iOS/project04/project04/Scene/DetailList/ViewModel/DetailListViewModel.swift
  iOS/project04/project04/Util/Function/extension+Date.swift
Labels: 📱 ios, 🔍 refactor

#72 [iOS #6] detail done 버튼 동작 추가, detail 수정 기능
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Coordinator/DetailAddCoordinator.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListAdd.storyboard
  iOS/project04/project04/Scene/DetailList/View/DetailListAddViewController.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Util/Function/extension+String.swift
Labels: 📱 ios

#73 [SIDEBAR #22] 내 목표 상세 목록 페이지 기능 구현
  sidebar/package.json
  sidebar/src/App.js
  sidebar/src/components/UI/atoms/read_only_input/index.js
  sidebar/src/components/UI/atoms/read_only_input/style.js
  sidebar/src/components/UI/molecules/bucket_list_item/index.js
  sidebar/src/components/UI/molecules/create_detail_list_item/index.js
  sidebar/src/components/UI/molecules/detail_list_item/index.js
  sidebar/src/components/UI/molecules/detail_list_item/style.js
  sidebar/src/components/UI/organisms/bucket_list/index.js
  sidebar/src/components/UI/organisms/confirm_dialog/index.js
  sidebar/src/components/UI/organisms/create_detail_list/index.js
  sidebar/src/components/UI/organisms/detail_header/index.js
  sidebar/src/components/UI/organisms/detail_header/style.js
  sidebar/src/components/UI/organisms/detail_list/index.js
  sidebar/src/components/UI/organisms/detail_list/style.js
  sidebar/src/components/UI/organisms/detail_register/index.js
  sidebar/src/components/UI/organisms/detail_register/style.js
  sidebar/src/components/pages/MyBucketListDetailPage.js
  sidebar/src/components/pages/MyBucketListPage.js
  sidebar/src/components/templates/bucket_create_template/index.js
  sidebar/src/components/templates/my_bucket_list_detail/index.js
  sidebar/src/components/templates/my_bucket_list_detail/style.js
  sidebar/src/lib/api.js
  sidebar/src/modules/buckets.js
  sidebar/src/modules/details.js
  sidebar/src/modules/index.js
Labels: ✨ frontend, ✨high, 🗄 sidebar

#74 [SERVER #24 #26] 내 목표 페이지 & 상세 페이지 API 구현
  server/routes/bucket/controller.js
  server/routes/bucket/index.js
  server/routes/detail/controller.js
  server/routes/detail/index.js
  server/routes/index.js
  server/services/bucket.js
  server/services/db/bucket.js
  server/services/db/detail.js
  server/services/detail.js
Labels: ✨high, 🕹 server

#76 [SERVER #9 FIX] 목표 달성 화면 사진 첨부 기능 구현
  server/package-lock.json
  server/package.json
  server/routes/index.js
  server/routes/object_storage/controller.js
  server/routes/object_storage/index.js
Labels: ✨high, 🔍 refactor, 🕹 server

#77 [SIDEBAR #9 FIX] 목표 달성 화면 사진 첨부 기능 구현
  sidebar/package-lock.json
  sidebar/package.json
  sidebar/src/components/UI/molecules/write_text_picture/index.js
  sidebar/src/index.js
  sidebar/src/lib/api.js
  sidebar/src/modules/achieve.js
Labels: ✨ frontend, ✨high, 🔍 refactor, 🗄 sidebar

#78 [SIDEBAR #17] 목표 생성 화면에서 세부사항 날짜 변경 기능
  sidebar/src/components/UI/atoms/input_text/index.js
  sidebar/src/components/UI/molecules/bucket_create_button/index.js
  sidebar/src/components/UI/molecules/bucket_input_text/index.js
  sidebar/src/components/UI/molecules/create_detail_list_item/index.js
  sidebar/src/components/UI/molecules/detail_adder/index.js
  sidebar/src/components/UI/organisms/bucket_contents/index.js
  sidebar/src/components/UI/organisms/create_detail_list/index.js
  sidebar/src/modules/actions/actionTypes.js
  sidebar/src/modules/actions/createbucket.js
  sidebar/src/modules/createbucket.js
Labels: ✨ frontend, 🗄 sidebar

#79 [SIDEBAR FIX] 세부사항 API 생성에 따른 더미데이터 삭제
  sidebar/src/components/UI/molecules/search_result_item/index.js
Labels: ✨ frontend, 🔨 fix, 🗄 sidebar

#80 [SERVER (FIX)] 달성 소감 가져오는 함수 수정
  server/services/db/achieve.js
  server/services/detail.js
Labels: 🔨 fix, 🕹 server

#82 [SIDEBAR FIX] 스토리북 제거 및 bucket, detail 상태 상수 등록
  sidebar/.storybook/main.js
  sidebar/.storybook/preview.js
  sidebar/package.json
  sidebar/src/constants/status.js
  sidebar/src/stories/Button.js
  sidebar/src/stories/Button.stories.js
  sidebar/src/stories/Header.js
  sidebar/src/stories/Header.stories.js
  sidebar/src/stories/Introduction.stories.mdx
  sidebar/src/stories/Page.js
  sidebar/src/stories/Page.stories.js
  sidebar/src/stories/assets/code-brackets.svg
  sidebar/src/stories/assets/colors.svg
  sidebar/src/stories/assets/comments.svg
  sidebar/src/stories/assets/direction.svg
  sidebar/src/stories/assets/flow.svg
  sidebar/src/stories/assets/plugin.svg
  sidebar/src/stories/assets/repo.svg
  sidebar/src/stories/assets/stackalt.svg
  sidebar/src/stories/button.css
  sidebar/src/stories/header.css
  sidebar/src/stories/page.css
Labels: ✨ frontend, 🔨 fix, 🗄 sidebar

#81 [iOS #52] 각 상황에 따라 목표 달성 버튼 생성 또는 삭제
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Scene/DetailList/Repository/DetailLocalAgent.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailRepository.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Scene/DetailList/View/SectionHeaderView/DetailSectionHeaderTodoView.swift
  iOS/project04/project04/Scene/DetailList/View/SectionHeaderView/DetailSectionHeaderTodoView.xib
  iOS/project04/project04/Scene/DetailList/View/SectionHeaderView/DetailSectionHeaderView.swift
  iOS/project04/project04/Scene/DetailList/View/SectionHeaderView/DetailSectionHeaderView.xib
  iOS/project04/project04/Scene/DetailList/ViewModel/DetailListViewModel.swift
Labels: 📱 ios

#83 [SIDEBAR FIX] 프리셋 로드 후 세부사항 PK문제 및 기타
  sidebar/src/components/UI/molecules/search_result_item/index.js
  sidebar/src/components/UI/organisms/bucket_search/index.js
Labels: ✨ frontend, 🔨 fix, 🗄 sidebar

#85 [SIDEBAR (FIX)] 상세 페이지에서 bucket 전달받는 방식 변경
  sidebar/src/App.js
  sidebar/src/components/UI/molecules/bucket_list_item/index.js
  sidebar/src/components/UI/organisms/detail_header/index.js
  sidebar/src/components/UI/organisms/detail_header/style.js
  sidebar/src/components/pages/MyBucketListDetailPage.js
  sidebar/src/constants/path.js
  sidebar/src/modules/buckets.js
  sidebar/src/modules/details.js
Labels: ✨ frontend, 🔨 fix, 🗄 sidebar

#84 [SERVER (FIX)] 상세 목록 조회 API 변경
  server/routes/detail/controller.js
  server/services/bucket.js
  server/services/db/bucket.js
Labels: 🔨 fix, 🕹 server

#90 [SERVER #88, #89] 로그인 API 구현, 회원가입 API 구현
  server/app.js
  server/config/config.js
  server/middlewares/auth.js
  server/middlewares/upload.js
  server/models/user.js
  server/package-lock.json
  server/package.json
  server/passport/index.js
  server/passport/jwt_stategy.js
  server/passport/local_stategy.js
  server/routes/index.js
  server/routes/object_storage/index.js
  server/routes/upload/controller.js
  server/routes/upload/index.js
  server/routes/user/controller.js
  server/routes/user/index.js
  server/services/db/achieve.js
  server/services/db/follow.js
  server/services/db/user.js
  server/services/follow.js
  server/services/user.js
  server/utils/bcrypt.js
  server/utils/jwt.js
Labels: 🎇medium, 🕹 server

#86 [iOS #53] pie graph 구현(에니메이션)
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Scene/DetailList/View/DetailListAdd.storyboard
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Scene/DetailList/View/SectionHeaderView/DetailSectionGraphView.swift
  iOS/project04/project04/Scene/DetailList/View/SectionHeaderView/DetailSectionGraphView.xib
  iOS/project04/project04/Scene/DetailList/ViewModel/DetailListViewModel.swift
  iOS/project04/project04/Util/View/PieView.swift
Labels: 📱 ios

#93 [iOS #49] 목표 생성화면 레이아웃 작업
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Coordinator/BucketCoordinator.swift
  iOS/project04/project04/Scene/BucketList/UseCase/BucketListAddUseCase.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListAdd.storyboard
  iOS/project04/project04/Scene/BucketList/View/BucketListAddHeaderView.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListAddHeaderView.xib
  iOS/project04/project04/Scene/BucketList/View/BucketListAddViewController.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/BucketList/ViewModel/BucketListAddViewModel.swift
  iOS/project04/project04/Scene/BucketList/ViewModel/BucketListViewModel.swift
Labels: 📱 ios

#97 [SIDEBAR (FIX)] 상세 페이지 달성 소감 마크다운 적용
  sidebar/src/components/UI/atoms/read_only_input/index.js
  sidebar/src/components/UI/atoms/read_only_input/style.js
  sidebar/src/components/UI/organisms/menu_drawer/index.js
  sidebar/src/routes.js
Labels: ✨ frontend, 🎨 style, 🔨 fix, 🗄 sidebar

#98 [SIDEBAR (FIX)] 달성 소감 css 수정
  sidebar/src/components/UI/atoms/read_only_input/style.js
Labels: ✨ frontend, 🎨 style, 🗄 sidebar

#99 [iOS (REFACTOR)] 런치 이미지, 앱 아이콘, 컬러셋 수정
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/100.png
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/1024.png
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/114.png
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/120.png
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/144.png
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/152.png
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/167.png
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/180.png
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/20.png
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/29.png
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/40.png
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/50.png
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/57.png
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/58.png
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/60.png
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/72.png
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/76.png
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/80.png
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/87.png
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/project04/project04/App/Assets.xcassets/GraphColor.colorset/Contents.json
  iOS/project04/project04/App/Assets.xcassets/bucketList_icon.imageset/Contents.json
  iOS/project04/project04/App/Assets.xcassets/bucketList_icon.imageset/baseline_format_list_bulleted_black_24pt_1x.png
  iOS/project04/project04/App/Assets.xcassets/bucketList_icon.imageset/baseline_format_list_bulleted_black_24pt_2x.png
  iOS/project04/project04/App/Assets.xcassets/bucketList_icon.imageset/baseline_format_list_bulleted_black_24pt_3x.png
  iOS/project04/project04/App/Assets.xcassets/launchImage.imageset/514698d2fa27415a4ce470ef2b54fbea.jpg
  iOS/project04/project04/App/Assets.xcassets/launchImage.imageset/Contents.json
  iOS/project04/project04/App/Base.lproj/LaunchScreen.storyboard
  iOS/project04/project04/Coordinator/MainTabBarController.swift
  iOS/project04/project04/Scene/BucketList/View/BucketList.storyboard
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/DetailList/View/DetailList.storyboard
  iOS/project04/project04/Scene/DetailList/View/DetailListAdd.storyboard
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Scene/DetailList/View/SectionHeaderView/DetailSectionGraphView.xib
  iOS/project04/project04/Util/Function/extension+UIColor.swift
Labels: 📱 ios

#101 [iOS (fix)] GraphColor 오타 수정
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Coordinator/BucketCoordinator.swift
  iOS/project04/project04/Coordinator/BucketListSearchCoordinator.swift
  iOS/project04/project04/Model/Bucket.swift
  iOS/project04/project04/Model/RealmObject/RealmBucket.swift
  iOS/project04/project04/Scene/BucketList/Repository/BucketLocalAgent.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/BucketList/ViewModel/BucketListViewModel.swift
  iOS/project04/project04/Scene/BucketListAdd/View/BucketListAdd.storyboard
  iOS/project04/project04/Scene/BucketListAdd/View/BucketListAddHeaderView.swift
  iOS/project04/project04/Scene/BucketListAdd/View/BucketListAddHeaderView.xib
  iOS/project04/project04/Scene/BucketListAdd/View/BucketListAddViewController.swift
  iOS/project04/project04/Scene/BucketListAdd/ViewModel/BucketListAddViewModel.swift
  iOS/project04/project04/Scene/BucketListSearch/Repository/BucketListSearchRepository.swift
  iOS/project04/project04/Scene/BucketListSearch/UseCase/BucketListSearchUseCase.swift
  iOS/project04/project04/Scene/BucketListSearch/View/BucketListSearch.storyboard
  iOS/project04/project04/Scene/BucketListSearch/View/BucketListSearchViewController.swift
  iOS/project04/project04/Scene/BucketListSearch/ViewModel/BucketListSearchViewModel.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
Labels: 📱 ios

#104 [SIDEBAR #22] 내 목표 페이지 레이아웃 구현
  sidebar/src/components/UI/atoms/markdown_div/index.js
  sidebar/src/components/UI/atoms/markdown_div/style.js
  sidebar/src/components/UI/molecules/bucket_list_item/index.js
  sidebar/src/components/UI/molecules/bucket_list_item/style.js
  sidebar/src/components/UI/molecules/cancle_save_button/index.js
  sidebar/src/components/UI/molecules/cancle_save_button/style.js
  sidebar/src/components/UI/molecules/confirm_dialog/index.js
  sidebar/src/components/UI/molecules/confirm_dialog/style.js
  sidebar/src/components/UI/molecules/detail_list_item/index.js
  sidebar/src/components/UI/molecules/detail_list_item/style.js
  sidebar/src/components/UI/organisms/bucket_list/index.js
  sidebar/src/components/UI/organisms/confirm_dialog/index.js
  sidebar/src/components/UI/organisms/detail_header/index.js
  sidebar/src/components/UI/organisms/detail_header/style.js
  sidebar/src/components/UI/organisms/detail_list/index.js
  sidebar/src/components/UI/organisms/detail_register/index.js
  sidebar/src/components/UI/organisms/detail_register/style.js
  sidebar/src/components/pages/MyBucketListDetailPage.js
  sidebar/src/components/templates/my_bucket_list/index.js
  sidebar/src/components/templates/my_bucket_list_detail/index.js
  sidebar/src/components/templates/my_bucket_list_detail/style.js
  sidebar/src/lib/date.js
  sidebar/src/modules/buckets.js
  sidebar/src/modules/details.js
Labels: ✨ frontend, ✨high, 🗄 sidebar

#105 [SERVER #26] 버킷 상세 수정 API 구현
  server/routes/detail/controller.js
  server/routes/detail/index.js
  server/services/db/detail.js
  server/services/detail.js
Labels: ✨high, 🕹 server

#103 [iOS (REFACTOR)] 데이터 타입 변환, detail에서 완료처리 시 bucketList에 반영
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Coordinator/BucketCoordinator.swift
  iOS/project04/project04/Coordinator/BucketListSearchCoordinator.swift
  iOS/project04/project04/Coordinator/DetailAddCoordinator.swift
  iOS/project04/project04/Model/Bucket.swift
  iOS/project04/project04/Model/Detail.swift
  iOS/project04/project04/Model/RealmObject/RealmBucket.swift
  iOS/project04/project04/Model/RealmObject/RealmDetailList.swift
  iOS/project04/project04/Scene/BucketList/Repository/BucketAPIAgent.swift
  iOS/project04/project04/Scene/BucketList/Repository/BucketListRepository.swift
  iOS/project04/project04/Scene/BucketList/Repository/BucketLocalAgent.swift
  iOS/project04/project04/Scene/BucketList/UseCase/BucketListAddUseCase.swift
  iOS/project04/project04/Scene/BucketList/UseCase/BucketListUseCase.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/BucketList/ViewModel/BucketListViewModel.swift
  iOS/project04/project04/Scene/BucketListAdd/View/BucketListAddViewController.swift
  iOS/project04/project04/Scene/BucketListAdd/ViewModel/BucketListAddViewModel.swift
  iOS/project04/project04/Scene/BucketListSearch/Repository/BucketListSearchRepository.swift
  iOS/project04/project04/Scene/BucketListSearch/UseCase/BucketListSearchUseCase.swift
  iOS/project04/project04/Scene/BucketListSearch/View/BucketListSearchViewController.swift
  iOS/project04/project04/Scene/BucketListSearch/ViewModel/BucketListSearchViewModel.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailAPIAgent.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailLocalAgent.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailRepository.swift
  iOS/project04/project04/Scene/DetailList/UseCase/DetailListUseCase.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListAddViewController.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Scene/DetailList/ViewModel/DetailListViewModel.swift
  iOS/project04/project04/Util/Protocol/ListUseCase.swift
  iOS/project04/project04/Util/Protocol/LocalService.swift
Labels: 📱 ios

#106 [SERVER (FIX)] 버킷 상세 전체 목록 조회 API 수정
  server/app.js
  server/package-lock.json
  server/package.json
  server/routes/achieve/controller.js
  server/routes/achieve/index.js
  server/routes/detail/controller.js
  server/routes/follow/controller.js
  server/services/bucket.js
  server/services/db/achieve.js
  server/services/db/bucket.js
  server/services/detail.js
Labels: 🎇medium, 🔍 refactor, 🔨 fix, 🕹 server

#109 [SIDEBAR #87] 로그인 레이아웃 구현
  sidebar/.gitignore
  sidebar/package-lock.json
  sidebar/public/index.html
  sidebar/public/whale_logo.png
  sidebar/src/components/pages/LoginPage.js
  sidebar/src/components/pages/RegisterPage.js
  sidebar/src/components/templates/login/index.js
  sidebar/src/components/templates/login/style.js
  sidebar/src/components/templates/register/index.js
  sidebar/src/components/templates/register/style.js
  sidebar/src/lib/api.js
  sidebar/src/routes.js
Labels: ✨ frontend, 🎇medium, 🗄 sidebar

#110 [SIDEBAR] 메뉴 상단 사용자 정보 레이아웃 구현
  sidebar/public/empty-user.png
  sidebar/src/components/UI/molecules/achieve_rate/index.js
  sidebar/src/components/UI/molecules/achieve_rate/style.js
  sidebar/src/components/UI/organisms/menu_drawer/index.js
  sidebar/src/components/UI/organisms/menu_drawer/style.js
  sidebar/src/components/templates/my_bucket_list_detail/index.js
  sidebar/src/modules/details.js
Labels: ✨ frontend, 🎨 style, 🗄 sidebar

#108 [iOS #107] 소감 생성 화면 구현
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Coordinator/BucketCoordinator.swift
  iOS/project04/project04/Coordinator/DetailCoordinator.swift
  iOS/project04/project04/Info.plist
  iOS/project04/project04/Model/RealmObject/RealmImpression.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Scene/DetailList/View/SectionHeaderView/DetailSectionImpressionHeaderView.swift
  iOS/project04/project04/Scene/DetailList/View/SectionHeaderView/DetailSectionImpressionHeaderView.xib
  iOS/project04/project04/Scene/Impression/Repository/ImpressionAPIAgent.swift
  iOS/project04/project04/Scene/Impression/Repository/ImpressionLocalAgent.swift
  iOS/project04/project04/Scene/Impression/Repository/ImpressionRepository.swift
  iOS/project04/project04/Scene/Impression/UseCase/ImpressionUseCase.swift
  iOS/project04/project04/Scene/Impression/View/Impression.storyboard
  iOS/project04/project04/Scene/Impression/View/ImpressionViewController.swift
  iOS/project04/project04/Scene/Impression/ViewModel/ImpressionViewModel.swift
Labels: 📱 ios

#113 [iOS #49 ] 목표 생성 화면 구현
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Coordinator/BucketCoordinator.swift
  iOS/project04/project04/Coordinator/BucketListAddCoordinator.swift
  iOS/project04/project04/Coordinator/DetailCoordinator.swift
  iOS/project04/project04/Model/RealmObject/RealmBucket.swift
  iOS/project04/project04/Model/RealmObject/RealmDetailList.swift
  iOS/project04/project04/Scene/BucketList/UseCase/BucketListAddUseCase.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/BucketList/ViewModel/BucketListViewModel.swift
  iOS/project04/project04/Scene/BucketListAdd/Repository/BucketListAddRepository.swift
  iOS/project04/project04/Scene/BucketListAdd/Repository/DetailMemoryAgent.swift
  iOS/project04/project04/Scene/BucketListAdd/Repository/PresetAPIAgent.swift
  iOS/project04/project04/Scene/BucketListAdd/UseCase/BucketListAddUseCase.swift
  iOS/project04/project04/Scene/BucketListAdd/View/BucketListAddHeaderView.swift
  iOS/project04/project04/Scene/BucketListAdd/View/BucketListAddViewController.swift
  iOS/project04/project04/Scene/BucketListAdd/ViewModel/BucketListAddViewModel.swift
  iOS/project04/project04/Scene/BucketListSearch/Repository/BucketListSearchRepository.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailLocalAgent.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailRepository.swift
  iOS/project04/project04/Scene/DetailList/UseCase/DetailListUseCase.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Scene/DetailList/View/SectionHeaderView/DetailSectionHeaderView.swift
  iOS/project04/project04/Scene/DetailList/View/SectionHeaderView/DetailSectionHeaderView.xib
  iOS/project04/project04/Scene/DetailList/ViewModel/DetailListViewModel.swift
Labels: 📱 ios

#114 [iOS #111, #112] 로그인, 로그아웃 레이아웃 구현
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/App/Base.lproj/LaunchScreen.storyboard
  iOS/project04/project04/Coordinator/BucketCoordinator.swift
  iOS/project04/project04/Coordinator/LoginCoordinator.swift
  iOS/project04/project04/Coordinator/MainTabBarController.swift
  iOS/project04/project04/Coordinator/SettingCoordinator.swift
  iOS/project04/project04/Info.plist
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Scene/Login/Join.storyboard
  iOS/project04/project04/Scene/Login/JoinViewController.swift
  iOS/project04/project04/Scene/Login/Login.storyboard
  iOS/project04/project04/Scene/Login/LoginAPIAgent.swift
  iOS/project04/project04/Scene/Login/LoginViewController.swift
  iOS/project04/project04/Scene/Setting/Setting.storyboard
  iOS/project04/project04/Scene/Setting/SettingViewController.swift
Labels: 📱 ios

#115 [iOS] NetworkService 객체 추가
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Coordinator/BucketCoordinator.swift
  iOS/project04/project04/Scene/BucketList/Repository/BucketAPIAgent.swift
  iOS/project04/project04/Scene/BucketList/Repository/BucketListRepository.swift
  iOS/project04/project04/Scene/BucketListAdd/Repository/BucketListAddRepository.swift
  iOS/project04/project04/Scene/BucketListAdd/Repository/PresetAPIAgent.swift
  iOS/project04/project04/Scene/BucketListAdd/ViewModel/BucketListAddViewModel.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailAPIAgent.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailRepository.swift
  iOS/project04/project04/Scene/Impression/Repository/ImpressionAPIAgent.swift
  iOS/project04/project04/Scene/Impression/Repository/ImpressionRepository.swift
  iOS/project04/project04/Util/Enum/Endpoint.swift
  iOS/project04/project04/Util/Protocol/NetworkService.swift
  iOS/project04/project04/Util/Singleton/NetworkService.swift
Labels: 📱 ios

#117 [SIDEBAR #118] 회원가입 레이아웃 구현 완료
  sidebar/src/components/pages/LoginPage.js
  sidebar/src/components/pages/RegisterPage.js
  sidebar/src/components/templates/login/index.js
  sidebar/src/components/templates/login/style.js
  sidebar/src/components/templates/register/index.js
  sidebar/src/components/templates/register/style.js
  sidebar/src/hooks/useValidator.js
  sidebar/src/lib/api.js
  sidebar/src/lib/validator.js
Labels: ✨ frontend, 🎇medium, 🗄 sidebar

#119 [SERVER] 회원가입 API 구현 - 중복확인 라우터 추가
  server/routes/user/controller.js
  server/routes/user/index.js
  server/services/db/user.js
  server/services/user.js
Labels: 🎇medium, 🕹 server

#120 [SIDEBAR FIX] 멘토링 피드백에 따른 UI 변경
  sidebar/src/components/UI/molecules/bucket_decription/index.js
  sidebar/src/components/UI/molecules/bucket_decription/style.js
  sidebar/src/components/UI/molecules/bucket_search_modal/index.js
  sidebar/src/components/UI/molecules/bucket_search_modal/style.js
  sidebar/src/components/UI/molecules/bucket_title/index.js
  sidebar/src/components/UI/molecules/create_detail_list_item/index.js
  sidebar/src/components/UI/molecules/detail_adder/index.js
  sidebar/src/components/UI/molecules/detail_adder/style.js
  sidebar/src/components/UI/molecules/search_guide/index.js
  sidebar/src/components/UI/molecules/search_guide/style.js
  sidebar/src/components/UI/molecules/search_result_item/index.js
  sidebar/src/components/UI/organisms/bucket_contents/index.js
  sidebar/src/components/UI/organisms/buttons/index.js
  sidebar/src/components/templates/bucket_create_template/index.js
  sidebar/src/lib/useMousePosition.js
  sidebar/src/modules/createbucket.js
Labels: ✨ frontend, 🎨 style, 🔨 fix, 🗄 sidebar

#123 [iOS #51] 버킷 리스트 API 연동 및 검색 API 연동
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Coordinator/BucketListAddCoordinator.swift
  iOS/project04/project04/Model/RealmObject/RealmBucket.swift
  iOS/project04/project04/Model/Response.swift
  iOS/project04/project04/Model/ResponseBucket.swift
  iOS/project04/project04/Model/SearchBucket.swift
  iOS/project04/project04/Scene/BucketList/Repository/BucketListRepository.swift
  iOS/project04/project04/Scene/BucketListAdd/Repository/BucketListAddRepository.swift
  iOS/project04/project04/Scene/BucketListAdd/View/BucketListAddViewController.swift
  iOS/project04/project04/Scene/BucketListAdd/ViewModel/BucketListAddViewModel.swift
  iOS/project04/project04/Scene/BucketListSearch/Repository/BucketListSearchRepository.swift
  iOS/project04/project04/Scene/BucketListSearch/UseCase/BucketListSearchUseCase.swift
  iOS/project04/project04/Scene/BucketListSearch/View/BucketListSearchViewController.swift
  iOS/project04/project04/Scene/BucketListSearch/ViewModel/BucketListSearchViewModel.swift
  iOS/project04/project04/Util/Enum/Endpoint.swift
  iOS/project04/project04/Util/Enum/HTTPMethod.swift
Labels: 📱 ios

#116 [iOS #54] detailList 서버통신(소감 포함)
  iOS/project04/project04/Model/RealmObject/RealmDetailList.swift
  iOS/project04/project04/Model/RealmObject/RealmImpression.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailRepository.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Scene/Impression/Repository/ImpressionRepository.swift
  iOS/project04/project04/Util/Enum/Endpoint.swift
  iOS/project04/project04/Util/Enum/HTTPMethod.swift
Labels: 📱 ios

#130 [iOS (fix)] Endpoint path 수정, 스레드 에러 수정
  iOS/project04/project04/Scene/DetailList/Repository/DetailRepository.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Util/Enum/Endpoint.swift
Labels: 📱 ios

#131 [iOS #55] 모든 데이터 서버 연동
  iOS/project04/project04/Coordinator/BucketCoordinator.swift
  iOS/project04/project04/Coordinator/DetailCoordinator.swift
  iOS/project04/project04/Model/RealmObject/RealmDetailList.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/BucketListAdd/Repository/BucketListAddRepository.swift
  iOS/project04/project04/Scene/BucketListAdd/View/BucketListAddHeaderView.xib
  iOS/project04/project04/Scene/BucketListAdd/View/BucketListAddViewController.swift
  iOS/project04/project04/Scene/BucketListAdd/ViewModel/BucketListAddViewModel.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailRepository.swift
  iOS/project04/project04/Scene/DetailList/UseCase/DetailListUseCase.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListAddViewController.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Scene/DetailList/ViewModel/DetailListViewModel.swift
  iOS/project04/project04/Scene/Impression/Repository/ImpressionLocalAgent.swift
  iOS/project04/project04/Scene/Impression/Repository/ImpressionRepository.swift
  iOS/project04/project04/Scene/Impression/UseCase/ImpressionUseCase.swift
  iOS/project04/project04/Scene/Impression/View/ImpressionViewController.swift
  iOS/project04/project04/Scene/Impression/ViewModel/ImpressionViewModel.swift
Labels: 📱 ios

#132 [iOS #111] 로그인 서버 연동
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/App/SceneDelegate.swift
  iOS/project04/project04/Coordinator/LoginCoordinator.swift
  iOS/project04/project04/Model/RealmObject/RealmImpression.swift
  iOS/project04/project04/Model/UserToken.swift
  iOS/project04/project04/Scene/BucketList/Repository/BucketListRepository.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailRepository.swift
  iOS/project04/project04/Scene/Impression/Repository/ImpressionRepository.swift
  iOS/project04/project04/Scene/Impression/View/ImpressionViewController.swift
  iOS/project04/project04/Scene/Login/JoinViewController.swift
  iOS/project04/project04/Scene/Login/Login.storyboard
  iOS/project04/project04/Scene/Login/LoginViewController.swift
  iOS/project04/project04/Util/Enum/Endpoint.swift
  iOS/project04/project04/Util/Singleton/NetworkService.swift
Labels: 📱 ios

#124 [SIDEBAR #127] 피드 페이지 레이아웃 구현
  sidebar/src/components/UI/atoms/refresh_button/index.js
  sidebar/src/components/UI/atoms/refresh_button/style.js
  sidebar/src/components/UI/molecules/feed_list_item/index.js
  sidebar/src/components/UI/molecules/feed_list_item/style.js
  sidebar/src/components/UI/organisms/menu_drawer/index.js
  sidebar/src/components/pages/FeedPage.js
  sidebar/src/components/templates/feed/index.js
  sidebar/src/components/templates/feed/style.js
  sidebar/src/constants/menuItem.js
  sidebar/src/constants/path.js
  sidebar/src/lib/api.js
  sidebar/src/modules/feeds.js
  sidebar/src/modules/index.js
  sidebar/src/modules/todos.js
  sidebar/src/modules/user.js
  sidebar/src/routes.js
Labels: ✨ frontend, 🗄 sidebar

#125 [SERVER #128] 피드페이지 API 구현
  server/models/feed.js
  server/models/index.js
  server/routes/achieve/controller.js
  server/routes/bucket/controller.js
  server/routes/detail/controller.js
  server/routes/feed/controller.js
  server/routes/feed/index.js
  server/routes/index.js
  server/routes/user/controller.js
  server/routes/user/index.js
  server/services/db/feed.js
  server/services/db/follow.js
  server/services/db/user.js
  server/services/feed.js
  server/services/user.js
  server/utils/date.js
Labels: 🎇medium, 🕹 server

#133 [SIDEBAR (FIX)] 소감 생성 페이지 레이아웃 수정 및 데이터 연결
  sidebar/src/components/UI/organisms/detail_header/index.js
  sidebar/src/components/UI/organisms/line_bar_area_composed_chart/index.js
  sidebar/src/components/UI/organisms/pie_chart/index.js
  sidebar/src/components/pages/AchieveCreatePage.js
  sidebar/src/components/templates/achieve_create/index.js
  sidebar/src/components/templates/achieve_create/style.js
  sidebar/src/modules/details.js
Labels: ✨ frontend, ✨high, 🔨 fix, 🗄 sidebar

#134 [iOS #55] 에러 수정, NWPathMonitor 구현
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/App/SceneDelegate.swift
  iOS/project04/project04/Coordinator/LoginCoordinator.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Util/Singleton/NetworkPathMonitor.swift
Labels: 📱 ios

#135 [SERVER (FIX)] 오류 수정
  server/routes/achieve/controller.js
  server/routes/detail/controller.js
Labels: 🔨 fix, 🕹 server

#136 [iOS #55] 오프라인 데이터 연동 기능 구현
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/App/SceneDelegate.swift
  iOS/project04/project04/Model/RealmObject/RealmImpression.swift
  iOS/project04/project04/Model/RealmObject/RealmTransaction.swift
  iOS/project04/project04/Scene/BucketList/Repository/BucketListRepository.swift
  iOS/project04/project04/Scene/BucketList/Repository/BucketLocalAgent.swift
  iOS/project04/project04/Scene/BucketListSearch/Repository/BucketListSearchRepository.swift
  iOS/project04/project04/Scene/BucketListSearch/View/BucketListSearchViewController.swift
  iOS/project04/project04/Scene/BucketListSearch/ViewModel/BucketListSearchViewModel.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailLocalAgent.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailRepository.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListAddViewController.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Scene/Impression/Repository/ImpressionLocalAgent.swift
  iOS/project04/project04/Scene/Impression/Repository/ImpressionRepository.swift
  iOS/project04/project04/Scene/Impression/UseCase/ImpressionUseCase.swift
  iOS/project04/project04/Scene/Impression/View/ImpressionViewController.swift
  iOS/project04/project04/Scene/Impression/ViewModel/ImpressionViewModel.swift
  iOS/project04/project04/Util/Singleton/NetworkPathMonitor.swift
  iOS/project04/project04/Util/Singleton/NetworkService.swift
  iOS/project04/project04/Util/Singleton/TransactionRecorder.swift
Labels: 📱 ios

#140 [iOS] 네트워크 상태에 따라 Toast 해주는 기능 추가
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Util/Function/Toast.swift
  iOS/project04/project04/Util/Singleton/NetworkPathMonitor.swift
Labels: 📱 ios

#141 [iOS #112] 회원가입 서버 연동
  iOS/project04/project04/Scene/Login/Join.storyboard
  iOS/project04/project04/Scene/Login/JoinViewController.swift
  iOS/project04/project04/Scene/Login/Login.storyboard
  iOS/project04/project04/Scene/Login/LoginViewController.swift
  iOS/project04/project04/Util/Enum/Endpoint.swift
Labels: 📱 ios

#143 [SERVER (FIX)] 오류 해결
  server/routes/detail/controller.js
  server/routes/user/index.js
  server/services/db/feed.js
  server/utils/date.js
Labels: ✨high, 🔨 fix, 🕹 server

#144 [SERVER] 인증 미들웨어 일괄적 추가 작업
  server/routes/achieve/controller.js
  server/routes/achieve/index.js
  server/routes/bucket/controller.js
  server/routes/bucket/index.js
  server/routes/detail/controller.js
  server/routes/detail/index.js
  server/routes/feed/controller.js
  server/routes/feed/index.js
  server/routes/follow/index.js
  server/routes/upload/index.js
  server/routes/user/controller.js
  server/services/bucket.js
  server/services/feed.js
Labels: 🕹 server

#138 [SERVER #95] 유저정보, 팔로우 관련 API 구현 및 수정
  server/models/index.js
  server/routes/bucket/controller.js
  server/routes/bucket/index.js
  server/routes/follow/controller.js
  server/routes/follow/index.js
  server/routes/user/controller.js
  server/routes/user/index.js
  server/services/db/follow.js
  server/services/db/user.js
  server/services/follow.js
  server/services/user.js
Labels: 🎇medium, 🕹 server

#142 [SIDEBAR] 확장앱 API 적용
  sidebar/public/background.js
  sidebar/public/icon.png
  sidebar/src/components/UI/organisms/line_bar_area_composed_chart/index.js
  sidebar/src/components/UI/organisms/menu_drawer/index.js
  sidebar/src/components/UI/organisms/pie_chart/index.js
  sidebar/src/components/pages/MyBucketListDetailPage.js
  sidebar/src/components/templates/my_bucket_list_detail/index.js
  sidebar/src/lib/api.js
  sidebar/src/modules/details.js
Labels: ✨ frontend, 🎇medium, 🗄 sidebar

#137 [SIDEBAR #94 #96] 친구 검색 화면 레이아웃과 특정 유저 정보화면 구현
  sidebar/src/components/UI/molecules/follow_button/index.js
  sidebar/src/components/UI/molecules/user_bucket_list/index.js
  sidebar/src/components/UI/molecules/user_bucket_list/style.js
  sidebar/src/components/UI/molecules/user_bucket_list_item/index.js
  sidebar/src/components/UI/molecules/user_bucket_list_item/style.js
  sidebar/src/components/UI/molecules/user_item/empty-user.png
  sidebar/src/components/UI/molecules/user_item/index.js
  sidebar/src/components/UI/molecules/user_item/style.js
  sidebar/src/components/UI/organisms/follow_tab_bar/index.js
  sidebar/src/components/UI/organisms/user_buckets/index.js
  sidebar/src/components/UI/organisms/user_buckets/style.js
  sidebar/src/components/UI/organisms/user_info/index.js
  sidebar/src/components/UI/organisms/user_info/style.js
  sidebar/src/components/UI/organisms/user_search/index.js
  sidebar/src/components/UI/organisms/user_search/style.js
  sidebar/src/components/pages/FollowListPage.js
  sidebar/src/components/pages/UserInfoPage.js
  sidebar/src/components/templates/follow_list_template/index.js
  sidebar/src/components/templates/follow_list_template/style.js
  sidebar/src/components/templates/user_info_template/index.js
  sidebar/src/constants/path.js
  sidebar/src/lib/api.js
  sidebar/src/lib/createRequestThunk.js
  sidebar/src/lib/useFollowed.js
  sidebar/src/lib/useFollowing.js
  sidebar/src/modules/createbucket.js
  sidebar/src/modules/follow.js
  sidebar/src/modules/index.js
  sidebar/src/modules/userinfo.js
  sidebar/src/routes.js
Labels: ✨ frontend, 🎇medium, 🗄 sidebar

#139 [SIDEBAR] 환경설정 레이아웃 생성 + 라우터 접근 권한 수정
  sidebar/src/components/UI/organisms/header/index.js
  sidebar/src/components/UI/organisms/header/style.js
  sidebar/src/components/pages/AchieveCreatePage.js
  sidebar/src/components/pages/AchieveResultPage.js
  sidebar/src/components/pages/LoginPage.js
  sidebar/src/components/pages/LogoutPage.js
  sidebar/src/components/pages/SettingPage.js
  sidebar/src/components/templates/achieve_result/index.js
  sidebar/src/components/templates/my_bucket_list_detail/index.js
  sidebar/src/components/templates/setting/index.js
  sidebar/src/components/templates/setting/style.js
  sidebar/src/constants/menuItem.js
  sidebar/src/constants/path.js
  sidebar/src/lib/PrivateRoute.js
  sidebar/src/lib/PublicRoute.js
  sidebar/src/lib/api.js
  sidebar/src/lib/createRequestThunk.js
  sidebar/src/lib/isLogin.js
  sidebar/src/modules/achieve.js
  sidebar/src/modules/index.js
  sidebar/src/routes.js
Labels: ✨ frontend, ✨high, 🎇medium, 🗄 sidebar

#145 [SERVER Fix] 누락된 API 복구
  server/routes/follow/controller.js
  server/routes/follow/index.js
  server/services/db/follow.js
  server/services/follow.js
Labels: 🔨 fix, 🕹 server

#146 [SIDDEBAR Fix] isfollow 패러미터를 객체로 변경
  sidebar/src/components/pages/UserInfoPage.js
  sidebar/src/lib/api.js
Labels: 🔨 fix, 🗄 sidebar

#149 [refactor] swiftLint 에 맞게 수정
  iOS/project04/.swiftlint.yml
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/.swiftlint.yml
  iOS/project04/project04/Coordinator/BucketListAddCoordinator.swift
  iOS/project04/project04/Model/RealmObject/RealmBucket.swift
  iOS/project04/project04/Model/RealmObject/RealmTransaction.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/BucketList/ViewModel/BucketListViewModel.swift
  iOS/project04/project04/Scene/BucketListAdd/UseCase/BucketListAddUseCase.swift
  iOS/project04/project04/Scene/BucketListAdd/View/BucketListAddViewController.swift
  iOS/project04/project04/Scene/BucketListAdd/ViewModel/BucketListAddViewModel.swift
  iOS/project04/project04/Scene/BucketListSearch/Repository/BucketListSearchRepository.swift
  iOS/project04/project04/Scene/BucketListSearch/UseCase/BucketListSearchUseCase.swift
  iOS/project04/project04/Scene/BucketListSearch/ViewModel/BucketListSearchViewModel.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListAddViewController.swift
  iOS/project04/project04/Scene/Login/LoginViewController.swift
  iOS/project04/project04/Util/Function/Toast.swift
  iOS/project04/project04/Util/Singleton/TransactionRecorder.swift
  iOS/project04/project04Tests/project04Tests.swift
Labels: 📱 ios, 🔍 refactor

#150 [iOS #(refactor)] swiftLint 재적용
  iOS/project04/.swiftlint.yml
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/App/AppDelegate.swift
  iOS/project04/project04/App/SceneDelegate.swift
  iOS/project04/project04/Coordinator/BucketListAddCoordinator.swift
  iOS/project04/project04/Coordinator/DetailCoordinator.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailRepository.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListAddViewController.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Scene/Impression/Repository/ImpressionLocalAgent.swift
  iOS/project04/project04/Scene/Impression/Repository/ImpressionRepository.swift
  iOS/project04/project04/Scene/Impression/View/ImpressionViewController.swift
  iOS/project04/project04/Scene/Login/JoinViewController.swift
  iOS/project04/project04/Scene/Login/LoginAPIAgent.swift
  iOS/project04/project04/Scene/Login/LoginViewController.swift
  iOS/project04/project04/Util/Function/Toast.swift
  iOS/project04/project04/Util/Singleton/TransactionRecorder.swift
  iOS/project04/project04/Util/View/RoundButton.swift
Labels: 📱 ios, 🔍 refactor

#152 [iOS] access token 포맷 변경
  iOS/project04/project04/Util/Singleton/NetworkService.swift
Labels: 📱 ios

#153 [iOS #(REFACTOR)] swiftLint error 수정
  iOS/project04/.swiftlint.yml
  iOS/project04/project04/Scene/BucketListAdd/View/BucketListAdd.storyboard
  iOS/project04/project04/Scene/BucketListAdd/View/BucketListAddHeaderView.xib
  iOS/project04/project04/Scene/BucketListSearch/View/BucketListSearch.storyboard
  iOS/project04/project04/Scene/DetailList/View/DetailListAddViewController.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Scene/Login/JoinViewController.swift
  iOS/project04/project04/Util/Function/extension+UIColor.swift
Labels: 📱 ios, 🔍 refactor

#155 [iOS] widget 구현 (widgetKit)
  iOS/project04/Project04Widget/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/project04/Project04Widget/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/project04/Project04Widget/Assets.xcassets/Contents.json
  iOS/project04/Project04Widget/Assets.xcassets/WidgetBackground.colorset/Contents.json
  iOS/project04/Project04Widget/Info.plist
  iOS/project04/Project04Widget/Project04Widget.swift
  iOS/project04/Project04WidgetExtension.entitlements
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Model/UserToken.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailRepository.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListAddViewController.swift
  iOS/project04/project04/Scene/Impression/Repository/ImpressionLocalAgent.swift
  iOS/project04/project04/Scene/Impression/UseCase/ImpressionUseCase.swift
  iOS/project04/project04/Scene/Impression/View/ImpressionViewController.swift
  iOS/project04/project04/Scene/Impression/ViewModel/ImpressionViewModel.swift
  iOS/project04/project04/Scene/Login/JoinViewController.swift
  iOS/project04/project04/Scene/Login/LoginViewController.swift
  iOS/project04/project04/Util/Enum/Endpoint.swift
  iOS/project04/project04/project04.entitlements
Labels: 📱 ios

#158 [iOS (refactor)] 코딩 컨벤션 적용
  iOS/project04/project04/Scene/BucketList/Repository/BucketListRepository.swift
  iOS/project04/project04/Scene/BucketList/Repository/BucketLocalAgent.swift
  iOS/project04/project04/Scene/BucketList/UseCase/BucketListUseCase.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/BucketList/ViewModel/BucketListViewModel.swift
  iOS/project04/project04/Scene/BucketListAdd/Repository/BucketListAddRepository.swift
  iOS/project04/project04/Scene/BucketListAdd/Repository/DetailMemoryAgent.swift
  iOS/project04/project04/Scene/BucketListAdd/UseCase/BucketListAddUseCase.swift
  iOS/project04/project04/Scene/BucketListAdd/View/BucketListAddHeaderView.swift
  iOS/project04/project04/Scene/BucketListAdd/View/BucketListAddViewController.swift
  iOS/project04/project04/Scene/BucketListAdd/ViewModel/BucketListAddViewModel.swift
  iOS/project04/project04/Scene/BucketListSearch/UseCase/BucketListSearchUseCase.swift
  iOS/project04/project04/Scene/BucketListSearch/View/BucketListSearchViewController.swift
  iOS/project04/project04/Scene/BucketListSearch/ViewModel/BucketListSearchViewModel.swift
Labels: 📱 ios, 🔍 refactor

#154 [SERVER] API 리팩토링
  server/routes/follow/controller.js
  server/routes/follow/index.js
  server/routes/user/controller.js
  server/routes/user/index.js
  server/services/bucket.js
  server/services/db/achieve.js
  server/services/db/bucket.js
Labels: 🔍 refactor, 🔨 fix, 🕹 server

#157 [SIDEBAR] 확장앱 API를 이용한 스토리지 관리
  sidebar/package.json
  sidebar/src/App.js
  sidebar/src/components/UI/organisms/menu_drawer/index.js
  sidebar/src/components/pages/LoginPage.js
  sidebar/src/components/pages/MyBucketListDetailPage.js
  sidebar/src/components/pages/MyBucketListPage.js
  sidebar/src/components/templates/bucket_create_template/index.js
  sidebar/src/index.js
  sidebar/src/lib/api.js
  sidebar/src/store/index.js
Labels: ✨ frontend, 🗄 sidebar

#159 Feat/feed
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Coordinator/FeedCoordinator.swift
  iOS/project04/project04/Coordinator/MainTabBarController.swift
  iOS/project04/project04/Model/RealmObject/RealmFeed.swift
  iOS/project04/project04/Scene/Feed/Repository/FeedRepository.swift
  iOS/project04/project04/Scene/Feed/View/Feed.storyboard
  iOS/project04/project04/Scene/Feed/View/FeedTableViewCell.swift
  iOS/project04/project04/Scene/Feed/View/FeedTableViewController.swift
  iOS/project04/project04/Scene/Feed/ViewModel/FeedViewModel.swift
  iOS/project04/project04/Util/Enum/Endpoint.swift
  iOS/project04/project04/Util/View/PieView.swift
Labels: 📱 ios

#160 [iOS] 유저 정보 헤더와 로그아웃 기능 구현
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/App/SceneDelegate.swift
  iOS/project04/project04/Coordinator/BucketCoordinator.swift
  iOS/project04/project04/Model/RealmObject/RealmBucket.swift
  iOS/project04/project04/Model/RealmObject/RealmUserData.swift
  iOS/project04/project04/Scene/BucketList/Repository/BucketListRepository.swift
  iOS/project04/project04/Scene/BucketList/UseCase/BucketListUseCase.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/BucketList/View/UserInfoView.swift
  iOS/project04/project04/Scene/BucketList/View/UserInfoView.xib
  iOS/project04/project04/Scene/BucketList/ViewModel/BucketListViewModel.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListAdd.storyboard
Labels: 📱 ios

#162 [iOS] widget systemMedium 사이즈의 위젯 구현
  iOS/project04/Project04Widget/Project04Widget.swift
Labels: 📱 ios

#165 [iOS] 토큰 만료 시 자동 로그아웃, 유저 데이터, 피드 로컬에 저장 기능 구현
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Coordinator/FeedCoordinator.swift
  iOS/project04/project04/Scene/BucketList/Repository/BucketListRepository.swift
  iOS/project04/project04/Scene/BucketList/Repository/BucketLocalAgent.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Scene/Feed/Repository/FeedLocalAgent.swift
  iOS/project04/project04/Scene/Feed/Repository/FeedRepository.swift
  iOS/project04/project04/Scene/Feed/View/FeedTableViewController.swift
  iOS/project04/project04/Scene/Setting/SettingViewController.swift
  iOS/project04/project04/Util/Function/checkTokenExpired.swift
  iOS/project04/project04/Util/Singleton/NetworkService.swift
Labels: 📱 ios

#161 [SERVER Fix] 누락된 userNo 추가
  server/routes/bucket/index.js
  server/routes/follow/controller.js
Labels: 🔨 fix, 🕹 server

#167 [SIDEBAR (FIX)] 스토리지 구현하면서 남겨놓은 코드 삭제
  sidebar/src/lib/api.js
Labels: ✨ frontend, 🔨 fix, 🗄 sidebar

#163 [SIDEBAR] 알람 기능 추가
  .gitignore
  sidebar/public/background.js
  sidebar/public/manifest.json
  sidebar/src/App.js
  sidebar/src/components/UI/organisms/header/index.js
  sidebar/src/components/UI/organisms/popup/index.js
  sidebar/src/components/UI/organisms/popup/style.js
  sidebar/src/components/pages/LoginPage.js
  sidebar/src/components/pages/LogoutPage.js
  sidebar/src/components/templates/setting/index.js
  sidebar/src/lib/alarm.js
  sidebar/src/lib/api.js
  sidebar/src/lib/chromeLocalStorage.js
Labels: ✨ frontend, 🗄 sidebar

#169 [SERVER] 에러 핸들러 구현
  server/.eslintrc.json
  server/app.js
  server/middlewares/handleErrors.js
  server/utils/errors.js
Labels: 🎇medium, 🔍 refactor, 🕹 server

#170 [SERVER (FIX)] 유저 정보 조회 API 수정
  server/services/user.js
Labels: 🔨 fix, 🕹 server

#172 [SERVER FIX] 누락된 userNo 추가
  server/routes/follow/controller.js
Labels: 🔨 fix, 🕹 server

#171 [SIDEBAR FIX] 웹상에서도 사용할수있도록 변경
  sidebar/src/components/UI/organisms/menu_drawer/index.js
  sidebar/src/components/pages/LoginPage.js
  sidebar/src/components/pages/MyBucketListPage.js
  sidebar/src/index.js
  sidebar/src/lib/api.js
  sidebar/src/lib/chromeLocalStorage.js
Labels: ✨ frontend, 🔨 fix, 🗄 sidebar

#173 [SIDEBAR (FIX)] 웹상에서 chrome extension API 사용 불가로 인한 오류 해결
  sidebar/src/components/pages/LogoutPage.js
  sidebar/src/lib/api.js
Labels: ✨ frontend, 🗄 sidebar

#166 [iOS (fix)] Bucket List Sync 시 앱이 죽는 버그 수정
  iOS/project04/project04/Scene/BucketList/Repository/BucketLocalAgent.swift
Labels: 📱 ios

#174 [SERVER (FIX)] 유저 정보 조회 API 오류 해결
  server/services/user.js
Labels: 🔨 fix, 🕹 server

#175 [iOS] setting 화면 제거
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Coordinator/MainTabBarController.swift
  iOS/project04/project04/Coordinator/SettingCoordinator.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Scene/Feed/View/FeedTableViewController.swift
  iOS/project04/project04/Scene/Setting/Setting.storyboard
  iOS/project04/project04/Scene/Setting/SettingViewController.swift
Labels: 📱 ios

#176 [SIDEBAR] 다크모드 추가 및 피드백 내용 반영
  sidebar/public/background.js
  sidebar/public/index.html
  sidebar/public/manifest.json
  sidebar/src/App.js
  sidebar/src/components/UI/organisms/header/index.js
  sidebar/src/components/UI/organisms/menu_drawer/index.js
  sidebar/src/components/pages/LoginPage.js
  sidebar/src/components/pages/LogoutPage.js
  sidebar/src/components/pages/MyBucketListDetailPage.js
  sidebar/src/components/pages/MyBucketListPage.js
  sidebar/src/components/templates/login/index.js
  sidebar/src/components/templates/login/style.js
  sidebar/src/components/templates/setting/index.js
  sidebar/src/index.js
  sidebar/src/lib/PrivateRoute.js
  sidebar/src/lib/alarm.js
  sidebar/src/lib/api.js
  sidebar/src/lib/chromeLocalStorage.js
  sidebar/src/lib/whaleLocalStorage.js
  sidebar/src/routes.js
  sidebar/src/theme.js
Labels: ✨ frontend, 🗄 sidebar

#179 [SIDEBAR FIX] 주간 데모전 Fix
  sidebar/src/components/UI/organisms/menu_drawer/index.js
  sidebar/src/components/pages/BucketCreatePage.js
  sidebar/src/components/pages/LogoutPage.js
  sidebar/src/components/pages/MyBucketListPage.js
  sidebar/src/components/templates/setting/index.js
  sidebar/src/lib/api.js
  sidebar/src/lib/browserSave.js
Labels: ✨ frontend, 🔨 fix, 🗄 sidebar

#180 [SIDEBAR] 피드백 반영
  sidebar/public/background.js
  sidebar/public/manifest.json
  sidebar/src/App.js
  sidebar/src/components/UI/molecules/bucket_create_button/index.js
  sidebar/src/components/UI/molecules/create_detail_list_item/index.js
  sidebar/src/components/UI/molecules/follow_button/index.js
  sidebar/src/components/UI/molecules/user_bucket_list_item/index.js
  sidebar/src/components/UI/molecules/user_item/index.js
  sidebar/src/components/UI/molecules/user_item/style.js
  sidebar/src/components/UI/organisms/header/style.js
  sidebar/src/components/UI/organisms/label_content_tab/index.js
  sidebar/src/components/UI/organisms/user_buckets/index.js
  sidebar/src/components/UI/organisms/user_buckets/style.js
  sidebar/src/components/UI/organisms/user_search/index.js
  sidebar/src/components/pages/UserInfoPage.js
  sidebar/src/components/templates/follow_list_template/index.js
  sidebar/src/components/templates/follow_list_template/style.js
  sidebar/src/components/templates/my_bucket_list/index.js
  sidebar/src/components/templates/my_bucket_list/style.js
  sidebar/src/lib/api.js
  sidebar/src/modules/createbucket.js
  sidebar/src/theme.js
Labels: ✨ frontend, 🎨 style, 🗄 sidebar

#182 [SIDEBAR (FIX)] 코드 리팩토링
  sidebar/public/favicon.ico
  sidebar/src/components/UI/molecules/title_logo/index.js
  sidebar/src/components/UI/molecules/title_logo/style.js
  sidebar/src/components/UI/molecules/write_text_picture/index.js
  sidebar/src/components/UI/organisms/writing_tab/index.js
  sidebar/src/components/templates/login/index.js
  sidebar/src/components/templates/login/style.js
  sidebar/src/components/templates/my_bucket_list_detail/index.js
  sidebar/src/components/templates/register/index.js
  sidebar/src/components/templates/register/style.js
  sidebar/src/lib/api.js
Labels: ✨ frontend, 🔍 refactor, 🔨 fix, 🗄 sidebar

#181 [SERVER (FIX)] 팔로우 API 수정
  server/routes/follow/controller.js
Labels: 🔨 fix, 🕹 server

#183 [hotfix] iOS 프로젝트 빌드 문제 수정
  iOS/project04/Podfile
  iOS/project04/Project04.xcodeproj/project.pbxproj
  iOS/project04/project04.xcworkspace/contents.xcworkspacedata
Labels: 📱 ios

#184 [SIDEBAR FIX] 버그 수정
  sidebar/README.md
  sidebar/src/App.js
  sidebar/src/components/UI/molecules/write_text_picture/index.js
  sidebar/src/components/UI/organisms/line_bar_area_composed_chart/index.js
  sidebar/src/components/UI/organisms/pie_chart/index.js
  sidebar/src/components/UI/organisms/writing_tab/index.js
  sidebar/src/components/pages/LoginPage.js
  sidebar/src/components/templates/my_bucket_list_detail/style.js
  sidebar/src/components/templates/setting/style.js
  sidebar/src/lib/api.js
  sidebar/src/theme.js
Labels: ✨ frontend, 🔨 fix, 🗄 sidebar

#185 [SIDEBAR FIX REFACTOR ]네트워킹데이 전 리팩토링
  sidebar/src/components/UI/molecules/bucket_create_button/index.js
  sidebar/src/components/UI/molecules/bucket_create_button/style.js
  sidebar/src/components/UI/molecules/bucket_search_bar/index.js
  sidebar/src/components/UI/molecules/bucket_search_modal/index.js
  sidebar/src/components/UI/molecules/create_detail_list_item/index.js
  sidebar/src/components/UI/molecules/create_detail_list_item/style.js
  sidebar/src/components/UI/molecules/detail_adder/index.js
  sidebar/src/components/UI/molecules/reset_button/index.js
  sidebar/src/components/UI/molecules/search_guide/index.js
  sidebar/src/components/UI/molecules/search_result_item/index.js
  sidebar/src/components/UI/molecules/search_result_item/style.js
  sidebar/src/components/UI/organisms/bucket_contents/index.js
  sidebar/src/components/UI/organisms/bucket_contents/style.js
  sidebar/src/components/UI/organisms/bucket_search/index.js
  sidebar/src/components/UI/organisms/bucket_search/style.js
  sidebar/src/components/UI/organisms/buttons/index.js
  sidebar/src/components/UI/organisms/buttons/style.js
  sidebar/src/components/UI/organisms/create_detail_list/index.js
  sidebar/src/components/UI/organisms/create_detail_list/style.js
  sidebar/src/components/pages/BucketCreatePage.js
  sidebar/src/components/pages/FollowListPage.js
  sidebar/src/components/templates/bucket_create_template/index.js
  sidebar/src/components/templates/bucket_create_template/style.js
  sidebar/src/components/templates/user_info_template/index.js
  sidebar/src/components/templates/user_info_template/style.js
  sidebar/src/hooks/useFollowed.js
  sidebar/src/hooks/useFollowing.js
  sidebar/src/hooks/useMousePosition.js
  sidebar/src/lib/api.js
  sidebar/src/lib/browserSave.js
  sidebar/src/modules/actions/actionTypes.js
  sidebar/src/modules/actions/createbucket.js
  sidebar/src/modules/createbucket.js
  sidebar/src/modules/userInfo.js
Labels: ✨ frontend, 🔍 refactor, 🔨 fix, 🗄 sidebar

#186 [SIDEBAR FIX] Fix/datepicker
  sidebar/src/modules/createbucket.js
Labels: 🔨 fix, 🗄 sidebar

#187 [fix] 팔로우버튼
  sidebar/src/components/UI/molecules/follow_button/index.js
  sidebar/src/components/pages/UserInfoPage.js
  sidebar/src/modules/userInfo.js
Labels: 🔨 fix, 🗄 sidebar
