Repository boostcamp-2020/Project04-A-Whale, pull requests merged in 2020-11, with the labels that each got.

#7 [iOS #] iOS Project 생성
  iOS/.gitignore
  iOS/project04/Podfile
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/project04/project04.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/project04/project04.xcworkspace/contents.xcworkspacedata
  iOS/project04/project04.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/project04/project04/.swiftlint.yml
  iOS/project04/project04/App/AppDelegate.swift
  iOS/project04/project04/App/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/project04/project04/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/project04/project04/App/Assets.xcassets/Contents.json
  iOS/project04/project04/App/Base.lproj/LaunchScreen.storyboard
  iOS/project04/project04/App/Base.lproj/Main.storyboard
  iOS/project04/project04/App/Info.plist
  iOS/project04/project04/App/SceneDelegate.swift
  iOS/project04/project04/Scene/BucketList/BucketListViewController.swift
  iOS/project04/project04/Scene/DetailList/DetailListViewController.swift
Labels: 📱 ios

#30 [SIDEBAR #28] router 기능 추가
  sidebar/package-lock.json
  sidebar/package.json
  sidebar/src/App.css
  sidebar/src/App.js
  sidebar/src/__test__/App.test.js
  sidebar/src/constants/path.js
  sidebar/src/logo.svg
  sidebar/src/routes.js
Labels: ✨ frontend, 🗄 sidebar

#29 [iOS #3 #5 ] BucketList 화면 구현
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/App/Base.lproj/Main.storyboard
  iOS/project04/project04/Info.plist
  iOS/project04/project04/Model/Bucket.swift
  iOS/project04/project04/Scene/BucketList/BucketListViewController.swift
  iOS/project04/project04/ViewModel/BucketListViewModel.swift
Labels: 📱 ios

#31 [iOS #4] 세부 리스트를 출력하기 위한 CollectionView 구현
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Model/DetailList.swift
  iOS/project04/project04/Scene/BucketList/BucketListViewController.swift
  iOS/project04/project04/Scene/DetailList/DetailListViewController.swift
  iOS/project04/project04/ViewModel/DetailListViewModel.swift
Labels: 📱 ios

#32 [iOS #2, #4] realm을 활용한 local CRUD
  iOS/project04/Podfile
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Model/RealmObject/RealmDetailList.swift
  iOS/project04/project04/Scene/BucketList/BucketListViewController.swift
  iOS/project04/project04/Scene/DetailList/DetailListUseCase/DetailAPIAgent.swift
  iOS/project04/project04/Scene/DetailList/DetailListUseCase/DetailListUseCase.swift
  iOS/project04/project04/Scene/DetailList/DetailListUseCase/DetailLocalAgent.swift
  iOS/project04/project04/ViewModel/DetailListViewModel.swift
  iOS/project04/project04Tests/Info.plist
  iOS/project04/project04Tests/project04Tests.swift
Labels: 📱 ios

#34 [iOS (REFECTOR)] 테스트를 용이하게 하기 위한 구조적 설계 및 변동
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/App/Base.lproj/Main.storyboard
  iOS/project04/project04/Model/DetailList.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/DetailList/DetailListUseCase/DetailAPIAgent.swift
  iOS/project04/project04/Scene/DetailList/DetailListUseCase/DetailListUseCase.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailAPIAgent.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailLocalAgent.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailRepository.swift
  iOS/project04/project04/Scene/DetailList/UseCase/DetailListUseCase.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/Util/Enum/HTTPMethod.swift
  iOS/project04/project04/Util/Enum/NetworkError.swift
  iOS/project04/project04/Util/Protocol/ListUseCase.swift
  iOS/project04/project04/Util/Protocol/LocalService.swift
  iOS/project04/project04/Util/Protocol/NetworkService.swift
  iOS/project04/project04/Util/Protocol/Repository.swift
  iOS/project04/project04/ViewModel/DetailListViewModel.swift
Labels: 📱 ios

#39 [iOS #5 (Refactor)] UseCase, Repository 패턴을 적용, Realm 연동
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Model/RealmObject/RealmBucket.swift
  iOS/project04/project04/Scene/BucketList/Repository/BucketAPIAgent.swift
  iOS/project04/project04/Scene/BucketList/Repository/BucketListRepository.swift
  iOS/project04/project04/Scene/BucketList/Repository/BucketLocalAgent.swift
  iOS/project04/project04/Scene/BucketList/UseCase/BucketListUseCase.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/ViewModel/BucketListViewModel.swift
Labels: 📱 ios

#38 [iOS (REFACTOR)] 방식 통일 및 의존성 역전을 위한 추상화
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/App/Base.lproj/Main.storyboard
  iOS/project04/project04/Model/Detail.swift
  iOS/project04/project04/Model/DetailList.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailAPIAgent.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailLocalAgent.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailRepository.swift
  iOS/project04/project04/Scene/DetailList/UseCase/DetailListUseCase.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
  iOS/project04/project04/ViewModel/DetailListViewModel.swift
Labels: 📱 ios, 🔍 refactor

#40 [iOS] 디렉토리 구조 변경
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/Scene/BucketList/ViewModel/BucketListViewModel.swift
  iOS/project04/project04/Scene/DetailList/ViewModel/DetailListViewModel.swift
Labels: 📱 ios, 🔍 refactor

#41 [iOS] 각각의 버킷과 디테일리스트의 연동
  iOS/project04/project04/Model/Bucket.swift
  iOS/project04/project04/Model/RealmObject/RealmBucket.swift
  iOS/project04/project04/Model/RealmObject/RealmDetailList.swift
  iOS/project04/project04/Scene/BucketList/Repository/BucketLocalAgent.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/BucketList/ViewModel/BucketListViewModel.swift
  iOS/project04/project04/Scene/DetailList/Repository/DetailLocalAgent.swift
  iOS/project04/project04/Scene/DetailList/View/DetailListViewController.swift
Labels: 📱 ios

#36 [SIDEBAR #16 ] 목표 생성 화면 레이아웃 구현
  sidebar/package-lock.json
  sidebar/package.json
  sidebar/src/components/UI/atoms/InputText/InputText.js
  sidebar/src/components/UI/atoms/Span/Span.js
  sidebar/src/components/UI/atoms/StyledButton/StyledButton.js
  sidebar/src/components/UI/molecules/BucketCreateButton/BucketCreateButton.js
  sidebar/src/components/UI/molecules/BucketInputText/BucketInputText.js
  sidebar/src/components/UI/molecules/BucketSearchBar/BucketSearchBar.js
  sidebar/src/components/UI/molecules/DetailAdder/DetailAdder.js
  sidebar/src/components/UI/molecules/DetailListItem/DetailListItem.js
  sidebar/src/components/UI/molecules/ResetButton/ResetButton.js
  sidebar/src/components/UI/molecules/Title/Title.js
  sidebar/src/components/UI/organisms/BucketContents/BucketContents.js
  sidebar/src/components/UI/organisms/Buttons/Buttons.js
  sidebar/src/components/UI/organisms/DetailList/DetailList.js
  sidebar/src/components/pages/BucketCreatePage.js
  sidebar/src/components/templates/BucketCreateTemplate/BucketCreateTemplate.js
  sidebar/src/constants/path.js
  sidebar/src/modules/actions/actionTypes.js
  sidebar/src/modules/actions/createbucket.js
  sidebar/src/modules/createbucket.js
  sidebar/src/modules/index.js
  sidebar/src/routes.js
Labels: ✨ frontend, ✨high, 🗄 sidebar

#37 [SIDEBAR #13 #19 #22 #27] 내 목표 화면 & 내 목표 상세 화면 구현
  sidebar/.eslintrc.json
  sidebar/package-lock.json
  sidebar/package.json
  sidebar/public/index.html
  sidebar/src/App.js
  sidebar/src/components/UI/atoms/abandon_button/index.js
  sidebar/src/components/UI/atoms/abandon_button/style.js
  sidebar/src/components/UI/atoms/add_fab_button/index.js
  sidebar/src/components/UI/atoms/add_fab_button/style.js
  sidebar/src/components/UI/atoms/go_back_button/index.js
  sidebar/src/components/UI/atoms/go_back_button/style.js
  sidebar/src/components/UI/atoms/menu_button/index.js
  sidebar/src/components/UI/atoms/menu_button/style.js
  sidebar/src/components/UI/atoms/text/index.js
  sidebar/src/components/UI/atoms/text/style.js
  sidebar/src/components/UI/molecules/abandon_dialog_buttons/index.js
  sidebar/src/components/UI/molecules/bucket_list_item/index.js
  sidebar/src/components/UI/molecules/bucket_list_item/style.js
  sidebar/src/components/UI/organisms/abandon_dialog/index.js
  sidebar/src/components/UI/organisms/abandon_dialog/style.js
  sidebar/src/components/UI/organisms/bucket_list/index.js
  sidebar/src/components/UI/organisms/header/index.js
  sidebar/src/components/UI/organisms/header/style.js
  sidebar/src/components/UI/organisms/menu_drawer/index.js
  sidebar/src/components/UI/organisms/menu_drawer/style.js
  sidebar/src/components/pages/MyBucketListDetailPage.js
  sidebar/src/components/pages/MyBucketListPage.js
  sidebar/src/components/templates/my_bucket_list/index.js
  sidebar/src/components/templates/my_bucket_list/style.js
  sidebar/src/components/templates/my_bucket_list_detail/index.js
  sidebar/src/components/templates/my_bucket_list_detail/style.js
  sidebar/src/constants/path.js
  sidebar/src/index.js
  sidebar/src/modules/index.js
  sidebar/src/modules/todos.js
  sidebar/src/routes.js
Labels: ✨ frontend, ✨high, 🗄 sidebar

#33 [CLIENT, SIDEBAR #8] 목표달성화면 레이아웃작업
  sidebar/package-lock.json
  sidebar/package.json
  sidebar/src/components/UI/atoms/Hamburger/Hamburger.css
  sidebar/src/components/UI/atoms/Hamburger/Hamburger.js
  sidebar/src/components/UI/atoms/goback_button/index.js
  sidebar/src/components/UI/atoms/preview_text_picture/PreviewTextPicture.js
  sidebar/src/components/UI/atoms/save_button/SaveButton.js
  sidebar/src/components/UI/atoms/tab_panel/TabPanel.js
  sidebar/src/components/UI/molecules/tab_list/TabList.js
  sidebar/src/components/UI/molecules/tab_panel_list/TabPanelList.js
  sidebar/src/components/UI/molecules/write_text_picture/WriteTextPicture.js
  sidebar/src/components/UI/organisms/alert_dialog/index.js
  sidebar/src/components/UI/organisms/label_content_tab/LabelContentTab.js
  sidebar/src/components/UI/organisms/line_bar_area_composed_chart/LineBarAreaComposedChart.js
  sidebar/src/components/UI/organisms/writing_tab/WritingTab.js
  sidebar/src/components/pages/AchieveCreate.js
  sidebar/src/components/pages/AchieveResult.js
  sidebar/src/components/templates/achieve_create/AchieveCreate.js
  sidebar/src/components/templates/achieve_result/AchieveResult.js
  sidebar/src/constants/path.js
  sidebar/src/modules/achieve.js
  sidebar/src/modules/index.js
  sidebar/src/routes.js
Labels: ✨ frontend, ✨high, 🗄 sidebar

#43 [SIDEBAR (FIX)] 폴더명 수정 및 헤더 적용
  sidebar/package-lock.json
  sidebar/src/components/UI/atoms/input_text/InputText.js
  sidebar/src/components/UI/atoms/styled_button/StyledButton.js
  sidebar/src/components/UI/molecules/Title/Title.js
  sidebar/src/components/UI/molecules/bucket_create_button/BucketCreateButton.js
  sidebar/src/components/UI/molecules/bucket_input_text/BucketInputText.js
  sidebar/src/components/UI/molecules/bucket_search_bar/BucketSearchBar.js
  sidebar/src/components/UI/molecules/detail_adder/DetailAdder.js
  sidebar/src/components/UI/molecules/detail_list_item/DetailListItem.js
  sidebar/src/components/UI/molecules/reset_button/ResetButton.js
  sidebar/src/components/UI/organisms/Buttons/Buttons.js
  sidebar/src/components/UI/organisms/bucket_contents/BucketContents.js
  sidebar/src/components/UI/organisms/detail_list/DetailList.js
  sidebar/src/components/pages/BucketCreatePage.js
  sidebar/src/components/templates/BucketCreateTemplate/BucketCreateTemplate.js
  sidebar/src/components/templates/bucket_create_template/BucketCreateTemplate.js
  sidebar/src/routes.js
Labels: 🎨 style, 🔨 fix

#45 [CLIENT, SIDEBAR #8 (FIX)] 목표달성화면 레이아웃작업
  sidebar/src/components/UI/atoms/Hamburger/Hamburger.css
  sidebar/src/components/UI/atoms/Hamburger/Hamburger.js
  sidebar/src/components/UI/atoms/goback_button/index.js
  sidebar/src/components/UI/atoms/preview_text_picture/index.js
  sidebar/src/components/UI/molecules/write_text_picture/index.js
  sidebar/src/components/UI/organisms/alert_dialog/index.js
  sidebar/src/components/UI/organisms/label_content_tab/index.js
  sidebar/src/components/UI/organisms/line_bar_area_composed_chart/index.js
  sidebar/src/components/UI/organisms/writing_tab/index.js
  sidebar/src/components/pages/AchieveCreate.js
  sidebar/src/components/pages/AchieveResult.js
  sidebar/src/components/templates/achieve_create/AchieveCreate.js
  sidebar/src/components/templates/achieve_create/index.js
  sidebar/src/components/templates/achieve_create/style.js
  sidebar/src/components/templates/achieve_result/AchieveResult.js
  sidebar/src/components/templates/achieve_result/index.js
  sidebar/src/components/templates/achieve_result/style.js
  sidebar/src/modules/index.js
Labels: ✨ frontend, ✨high, 🗄 sidebar

#44 [SERVER #20] 목표 생성 관련 API 구현
  server/app.js
  server/bin/www
  server/package-lock.json
  server/package.json
  server/routes/bucket/controller.js
  server/routes/bucket/index.js
  server/routes/index.js
  server/services/bucket.js
  server/services/db/bucket.js
  server/services/db/detail.js
  server/services/detail.js
Labels: ✨high, 🕹 server

#46 [SERVER #10] 목표 달성 API 구현1
  Dockerfile
  server/config/statusCode.js
  server/routes/achieve/controller.js
  server/routes/achieve/index.js
  server/routes/index.js
  server/services/achieve.js
  server/services/db/achieve.js
Labels: ✨high, 🕹 server

#56 [iOS #5 (FIX)] Bucket Done 버튼 클릭시 Realm에 적용
  iOS/project04/project04/Model/Bucket.swift
  iOS/project04/project04/Model/RealmObject/RealmBucket.swift
  iOS/project04/project04/Scene/BucketList/Repository/BucketLocalAgent.swift
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/BucketList/ViewModel/BucketListViewModel.swift
Labels: 📱 ios

#57 [iOS #50 (REFACTOR)] 의존성 주입을 위한 coordinator 패턴 적용
  iOS/project04/project04.xcodeproj/project.pbxproj
  iOS/project04/project04/App/SceneDelegate.swift
  iOS/project04/project04/Coordinator/BucketCoordinator.swift
  iOS/project04/project04/Coordinator/MainTabBarController.swift
  iOS/project04/project04/Coordinator/NavigationCoordinator.swift
  iOS/project04/project04/Scene/BucketList/View/BucketList.storyboard
  iOS/project04/project04/Scene/BucketList/View/BucketListViewController.swift
  iOS/project04/project04/Scene/DetailList/View/DetailList.storyboard
Labels: 📱 ios
